.expérience{
	text-align: center;
	list-style: none;
}

h1,h3{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-style: italic;
	color: #4DD0E1;
}

.brd{
	margin-right: auto;
	max-width: 786px;
	margin-left: auto;
	border-right : solid 7px #0097A7;
	border-left : solid 7px #0097A7;
}

body{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 18px;
	text-align: center;
	list-style: none;
	float: none;
	background-image: url(bg3.jpg);
	background-repeat: no-repeat;
	background-size: 800px;
	background-position: center;
	margin: auto;
	color: #4DD0E1;
}

.liste{
}

